@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-accent::before {
        content: "";
        display: block;
        height: 4px;
        background-color: #ffff07;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}